{lib_dirs, ["deps"]}.

{edoc_opts, [{doclet, edown_doclet},
             {source_path, ["src"]},
             {stylesheet, ""},
             {image, ""},
             {app_default, "http://www.erlang.org/doc/man"},
             {edown_target, github},
             {top_level_readme,
              {"./README.md", "http://github.com/efine/qdhserv"}}
            ]}.

{deps, [
        {edown, ".*",
         {git, "https://github.com/uwiger/edown.git", {branch, "master"}}},
        {getopt, ".*",
         {git, "https://github.com/jcomellas/getopt.git", {branch, "master"}}
        }
       ]
}.

{escript_incl_apps, [getopt]}.
